<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="net.kaaass.zerotierfix.ZerotierFixApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZerotierFix"
        android:usesCleartextTraffic="true">
        <service
            android:name=".service.ZeroTierOneService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.NetworkListActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.JoinNetworkActivity"
            android:label="@string/join_network" />
        <activity
            android:name=".ui.PrefsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.view.NetworkDetailActivity"
            android:label="@string/network_detail" />
        <activity
            android:name=".ui.MoonOrbitActivity"
            android:label="@string/moon_orbit_activity" />
        <activity
            android:name=".ui.PeerListActivity"
            android:label="@string/peer_list" />

        <receiver
            android:name=".service.StartupReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>